.fems-grid table {
	border-collapse: collapse;
	text-align: left;
	width:90%;
	margin-left: 5%;
}

.fems-grid {
	background: #fff;
	overflow: hidden;

}

.fems-grid table td,
.fems-grid table th {
	padding: 0px 2px;
}

.fems-grid table thead th {
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	border-bottom: 1px solid #A3A3A3;
	width: 25%;
}

.fems-grid table thead th:first-child {
	width: 75%;
	text-align: left;
}

.fems-grid table tbody td {
	border-left: 1px solid #A3A3A3;
	font-size: 12px;
	border-bottom: 1px solid #A3A3A3;
	font-weight: normal;
	text-align: center;
}

.fems-grid table tbody td:first-child {
    border-left: none;
    text-align: left;
}

.fems-grid table tfoot td {
    padding: 2px;
    font-size: 14px;
    text-align: center;
}

.fems-grid table tfoot td:first-child {
    text-align: left;
}

.fems-bold {
	font-weight: bold;
}

.more {
	color: green;
}

.less {
	color: red;
}

.fems-center {
    text-align: center;
}

.fems-powered {
	padding-top: 5px;
	font-size: 6pt;
	text-align: right;
	font-style: italic;
}



td.tooltip {
    outline: none;
    text-decoration: none;
    border-bottom: dotted 1px blue;
    position: relative;
}

td.tooltip strong {
    line-height: 30px;
}

td.tooltip > span {
    width: 175px;
    padding: 5px 10px;
    margin-top: 10;
    margin-left: -130px;
    opacity: 0;
    visibility: hidden;
    z-index: 10;
    position: absolute;
    font-family: Arial;
    font-size: 12px;
    font-style: normal;
    border-radius: 3px;
    box-shadow: 2px 2px 2px #999;
    -webkit-transition-property: opacity, margin-top, visibility, margin-left;
    -webkit-transition-duration: 0.4s, 0.3s, 0.4s, 0.3s;
    -webkit-transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out;
    transition-property: opacity, margin-top, visibility, margin-left;
    transition-duration: 0.4s, 0.3s, 0.4s, 0.3s;
    transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out;
}

/*a.tooltip > span:hover,*/
td.tooltip:hover > span {
    opacity: 1;
    text-decoration: none;
    visibility: visible;
    overflow: visible;
    margin-top: 20px;
    display: inline;
    margin-left: -220px;
}

td.tooltip > span {
	color: #000000; 
	background: #FFFFFF;
	background: -webkit-linear-gradient(top, #FFFFFF, #FFFFFF);
	background: linear-gradient(top, #FFFFFF, #FFFFFF);	    
	border: 1px solid #000000;	     
}


.fems-blank table {
    border: 0px;
    text-align: center;
    width:90%;
    margin-left: 5%;
}

